################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BadmintonApp/v17
/.vs/BadmintonApp/FileContentIndex
