.button {
  display: flex;
  // width: 193px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: var(--color-secondary-light-bg);
  color: var(--text-color-primary-dark);

  font-family:  var(--font-display-Inter);
  
font-size: 1.25em;
font-style: normal;
font-weight: 700;
line-height: 1.77; /* 177.778% */
letter-spacing: 0.36px;

  text-decoration: none; /* бо це <a> */
  transition: background 0.15s ease, transform 0.05s ease;

  &:hover {
    background: var(--accent-color-primary);
    color: var(--text-color-secondary-light);
  }

  &:active {
    background: #094f8d;
  }
}
.medium{
  min-width: 297px;
}

// .icon {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
// }

.label {
  display: inline-block;
}
.iconSvg {
  width: 14px;
  height: 14px;
  color: var(--text-color-primary-dark);
  .button:hover & {
    
 
    color: var(--text-color-secondary-light);
  }
}