:root {

  --color-primary-bg: #1e3a8a;
  --color-secondary-bg: #f48b29;
  --color-primary-dark-bg: #161616;
  --color-secondary-dark-bg: #1C1C1C;
  --color-third-dark-bg: #615E60;
  --color-primary-light-color-bg: #fff;
  --color-secondary-light-bg:#E2E8F0;
  --text-color-primary-light: #F0F0F0;
  --text-color-secondary-light: #FFFFFF;
  --text-color-primary-dark: #161616;
  --text-color-secondary-dark: #000000;
  --text-color-gray-light: #9CA3AF;
  --text-color-gray-dark: #696969;
  --accent-color-primary: #0D74CF;
 
  --border-primary-color: #E2E8F0;
  --button-checked-color: #7BA049;
  --secondary-button-bg: #242323;

  /* Базовий текстовий шрифт (Manrope) */
  --font-display-Manrope: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, ui-sans-serif,
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* Display-шрифт для заголовків (Unbounded) */
  --font-title-Unbounded: 'Unbounded', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, ui-sans-serif,
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    --font-display-Inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, ui-sans-serif,
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';



    --color-secondary-bg: #ff0606;
  --color-primary-light-color: #fff;
    --primary-button: #0D74CF;
    --primary-button-hover: #172c6b;
    
    --secondary-button-hover: #d97414;
    --color-primary-light-color: #fff;



   --bg: #f6f7fb;
  --card: #ffffff;
  --text: #0f172a;
  --text-gray: #4B5563;
  --muted: #64748b;
  --border: #e5e7eb;
  --border-2:#cfd7e3;
  --focus: #93c5fd;

  --btn-primary-bg: #e6efff;
  --btn-primary-bg-hover: #dde8ff;
  --btn-primary-bg-active: #d2e0ff;
  --btn-primary-text: #0b3b8c;
  --btn-primary-border: #E2E8F0;
  --btn-primary-focus-border: #2f6fe6;

  --btn-secondary-bg: #f3f6fb;
  --btn-secondary-bg-hover: #eef2f7;
  --btn-secondary-bg-active: #e2e8f0;
  --btn-secondary-text: #0f172a;
  --btn-outline-text: #334155;

  --radius: 16px;
  --gap: 16px; --button-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.15);
    --button-shadow-focus: 0 0 0 3px rgba(0, 0, 0, 0.1);
    // --primary-bg-accordion: #fff9ec;
    // --secondary-bg-accordion: #fed5b0;
 --nav:#12326b;
    --blue-50:#eef4ff; 
    --blue-200:#bfd7ff; 
    --blue-600:#2f6fe6; 
    --blue-700:#255dc1;
    // --border:#e5eaf1; 
    --border-2:#cfd7e3; 
    --ring:rgba(47,111,230,.14);

    
}