@use '../../../../styles/mixins' as *;

.editButton {
  // background-color: var(--color-secondary-button); 
  // color: #ffffff; 
  // border-radius: 0.375rem;
  // transition: all 150ms ease-in-out;
  // text-decoration: none;
  // display: inline-block;

  // padding: 0.375rem 0.75rem;
  // font-size: 0.75rem;

  // &:hover {
  //   background-color: var(--color-secondary-button-hover); 
  // }

  appearance: none;
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 12px 16px;
  font-weight: 700;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.02s ease, background 0.2s ease,
    border-color 0.2s ease, box-shadow 0.2s ease;
    background: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  border-color: var(--btn-primary-border);

  &:active {
  transform: translateY(1px);
}

  &:hover {
    // background-color: #1d4ed8; 
    background-color: var(--btn-secondary-bg-active);

  }

  @include media-rules(mobile) {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  @include media-rules(tablet) {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
  }

  @include media-rules(laptop) {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
  }

  @include media-rules(desktop) {
    padding: 0.875rem 2rem;
    font-size: 1.25rem;
  }
}
