@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>Badminton App</title>
</head>
<body>
    <h1>Welcome to the Badminton App</h1>
    <div id="react-root"></div>
    <script src="/js/main.js"></script>
</body>
</html>
