@use "mixins" as *;

.heading {
  font-family: var(--font-display);
  color: var(--text-color-primary-dark);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.31;
  text-align: center;
  margin-bottom: 54px;
}

.grid {
  display: grid;
  gap: 24px;

  
  grid-template-columns: 1fr;

 
  @include media-rules(tablet) {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
  }

  
  @include media-rules(laptop) {
    grid-template-columns: repeat(3, minmax(260px, 1fr));
  }

  @include media-rules(desktop) {
    grid-template-columns: repeat(5, minmax(220px, 1fr));
  }
}

.card {
  display: grid;
  grid-template-rows: auto auto 1fr;

  padding: 0 0 16px;

  border-radius: 12px;
  background: var(--color-primary-light-color-bg);

}

.thumb {
  position: relative;
  margin-bottom: 1.5em;
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,.04);
  border-radius: 12px;
}

.img { object-fit: cover; }

.title {
    margin-bottom: 0.5em;
font-family: var(--font-display-Manrope);
font-size: 1.375em;
font-style: normal;
font-weight: 700;
line-height: 1.41; /* 141.667% */
//   padding: 0 16px;
  color: var(--text-color-primary-dark, #161616);
}

.description {

color: var(--text-color-primary-dark, #161616);
font-family: var(--font-display-Manrope);
font-size: 1.125em;
font-style: normal;
font-weight: 400;
line-height: 1.55; /* 155.556% */
}
