.reviewsSection {
//   padding: 64px 20px;
  text-align: center;
}

.heading {
  font-family: var(--font-title-Unbounded);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.31; /* 131.25% */
  margin-bottom: 54px;
//   text-align: center;
  color: var(--text-color-primary-dark);
}