.sliderWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

}
.embla {
    position: relative;
 
    padding-bottom: 64px;
    // z-index: 100;
      
}

.embla__container {
//   --gap: 10px;               
  display: grid;
  grid-auto-flow: column;
  

  grid-auto-columns: 100%;

  @media (min-width: 834px) {
  
    grid-auto-columns: calc((100% ) / 2);
  }

  @media (min-width: 1440px) {
 
    grid-auto-columns: calc((100% ) / 3);
  }
  @media (min-width: 1920px) {

    grid-auto-columns: calc((100% ) / 4);
  }
}

.arrows{
    // position: absolute;
    // right: 0;
    z-index: 2;
    display: flex;
    justify-content: end;
    gap: 20px;
}
.arrow{
    
   position: relative;
width: 72px;
height: 72px;
padding: 30px 34px;
justify-content: center;
align-items: center;
gap: 20px;
aspect-ratio: 1/1;
border-radius: 40px;
background: #E2E8F0;
}
.iconLeft{
    position: absolute;
    width: 24px;
    height: 19px;
    fill: currentColor; 
  left: 50%;          
  top: 50%;         
  transform: translate(-50%, -50%);
}
.iconRight{
    position: absolute;
    width: 24px;
    height: 19px;
    fill: currentColor;
  left: 50%;         
  top: 50%;          
  transform: translate(-50%, -50%);
}


