.heading {
  font-family: var(--font-title-Unbounded);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.31;
  text-align: center;
  margin-bottom: 54px;
  color: var(--text-color-primary-dark, #161616);
}

/* --- коли це слайдер --- */
.slide {
  flex: 0 0 80%;
  padding: 0 7px;

  @media (min-width: 834px) { flex: 0 0 50%; }
  @media (min-width: 1440px) { flex: 0 0 33.333%; }
  @media (min-width: 1920px) { flex: 0 0 25%; }
}

/* --- коли це статичний список --- */
.list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: 834px)   { grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 1440px)  { grid-template-columns: repeat(3, 1fr); }
  @media (min-width: 1920px)  { grid-template-columns: repeat(4, 1fr); }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  background: var(--color-primary-light-color-bg, #fff);
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0,0,0,.06);
}

.thumb {
  position: relative;
  width: 100%;
    max-height: 314px;
  aspect-ratio: 4 / 3;
}

.img { object-fit: cover; }



.favBtn {
    position: absolute;
    padding: 8px 16px;
 top: 16px;  
 right: 16px;
  background: var(--color-third-dark-bg);
  z-index: 1;
  width: 64px;
height: 64px;
  border-radius: 16px;
  
  color: var(--text-color-secondary-light );
  border: 0; cursor: pointer;
  display: inline-flex; align-items: center; justify-content: center;
}

.heartIcon { width: 24px; height: 24px; fill: currentColor; }

// .topContent {
//   position: absolute;
//   left: 20px; right: 20px; bottom: 20px;
//   color: #fff;
//   text-shadow: 0 1px 2px rgba(0,0,0,.35);
//   display: grid; gap: 8px; z-index: 1;
// }

.title {
    margin-bottom: 0.25em;
  font-family: var(--font-display-Manrope);
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.27;
  color: var(--text-color-primary-dark, #161616);

}

.content {
  padding: 16px;
  display: grid; gap: 10px;
}

.date {
     color: var(--text-color-primary-dark, #161616);
font-family: var(--font-display-Manrope);
font-size: 1.125em;
font-style: normal;
font-weight: 400;
line-height: 1.55; /* 155.556% */ 
    }

.metaLine {
  display: flex; 
  align-items: center; 
  color: var(--text-color-gray-dark, #696969);
font-family: var(--font-display-Manrope);
font-size: 1.125em;
font-style: normal;
font-weight: 400;
line-height: 1.55; /* 155.556% */
}

.icon {
    margin-right: 0.5em;
  width: 1.5em; height: 1.5em;
  fill: var(--accent-color-primary);
}
.iconTimer {
    margin-right: 0.5em;
  width: 1.5em; 
  height: 1.5em;
  fill: var(--accent-color-primary);
}   
.time{
    margin-right: 1em;
}


.club {
    margin-bottom: 0.25em; 
    color: var(--text-color-primary-dark, #161616);
font-family: var(--font-display-Manrope);
font-size: 1.125em;
font-style: normal;
font-weight: 700;
line-height: 1.55; /* 155.556% */
 }
.address { 
    color: var(--text-color-gray-dark, #696969);
font-family: var(--font-display-Manrope);
font-size: 1.125em;
font-style: normal;
font-weight: 400;
line-height: 1.55;
 }

.price {
  color: var(--text-color-gray-dark, #696969);
font-family: var(--font-display-Manrope);
font-size: 1.125em;
font-style: normal;
font-weight: 400;
line-height: 1.55;
}

.bottomRow {
  margin-top: 8px;
  display: flex; justify-content: space-between; align-items: center;
}



.participants {
  display: flex; align-items: center; gap: 8px;
}

.participantsLabel {
    max-width: 98px;
  color: var(--text-color-gray-dark, #696969);
font-family: var(--font-display-Manrope);
font-size: 0.875em;
font-style: normal;
font-weight: 400;
line-height: 1.71;
}

.participantsCount {
  display: inline-flex; align-items: center; justify-content: center;
  min-width: 44px;
  padding: 1em;
  border-radius: 12px;
  background: var(--color-secondary-light-bg);
  color: var(--text-color-primary-dark, #161616);
font-family: var(--font-display-Manrope);
font-size: 1.125em;
font-style: normal;
font-weight: 700;
line-height: 1.55; 
}
