.button {
  display: flex;
//   width: 183px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  

  font-family:  var(--font-display-Inter);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77; /* можна перерахувати у відносне значення */
  letter-spacing: 0.36px;

  text-decoration: none; /* бо це <a> */
  transition: background 0.2s ease;

 
}
.free {
    background: var(--accent-color-primary);
  color: var(--text-color-secondary-light);
   &:hover {
    background: #0b63b3;
  }

  &:active {
    background: #094f8d;
  }
}
.joined {
    background: var(--color-secondary-light-bg);
  color: var(--button-checked-color);
   &:hover {
    background: #4caf50;
  }

  &:active {
    background: #388e3c;
  }
}
.closed {
    background: var(--color-secondary-light-bg);
  color: var(--text-color-primary-dark);
   &:hover {
    background: #b0b0b0;
  }

  &:active {
    background: #8c8c8c;
  }
}
// .icon {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
// }

.label {
  display: inline-block;
}
.iconSvg {
  width: 14px;
  height: 14px;
  fill: currentColor; 
}