@use './mixins' as * ;

.containerPage {
  box-sizing: border-box;
  padding: 32px 24px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg);

   @include media-rules(mobile) {
    padding: 0.5rem 1rem;
  }

  @include media-rules(tablet) {
    padding: 0.75rem 1.5rem;
  }

  @include media-rules(laptop) {
    padding: 20px 32px;
  }
  
  @include media-rules(desktop) {
    padding: 20px 32px;
  }
}