@theme {
  --color-primary-button: #1e3a8a;

  --color-primary-button-hover: #172c6b;
  --color-secondary-button: #f48b29;
  --color-secondary-button-hover: #d97414;
  --color-delete-button: #ef4444;
  --color-delete-button-hover: #ff0606;
  --color-button-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.15);
  --color-button-shadow-focus: 0 0 0 3px rgba(0, 0, 0, 0.1);
  --color-primary-border: #f48b29;

  --color-primary-bg: #1e3a8a;
  --color-secondary-bg: #f48b29;
  --color-primary-light-color: #fff;

  --DataGrid-t-header-background-base: #1e3a8a;

  --primary-accent-color: #f48b29;

   --font-geist-sans: 'Geist', ui-sans-serif, system-ui, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
